@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:600');

.footerComponent {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #000;
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  
}
